 <!-- <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Sign In</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field  appearance="fill">
              <input matInput placeholder="Username:" name="email" >
            </mat-form-field>
          
            <mat-form-field  appearance="fill">
                <input matInput type="password" placeholder="Password:" name="password" >
            </mat-form-field>

            <button routerLink="/login" mat-raised-button type="submit" >Login</button>
          </form>          
    </mat-card>
</div> 

<router-outlet></router-outlet>
  -->



<div id="bg" class="form-container mat-elevation-z5"  fxFlex="70" style="margin-top: 10%; margin-bottom: 6%;">
  <h1 class="text my-5">Sign In</h1>
  <!-- <i class="fas fa-user-alien col-12"></i> -->
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="email" >
      <mat-error *ngIf="email?.errors?.['required']">Email is required!</mat-error>
      <!-- <mat-error *ngIf="email?.errors?.['required']">Please enter the correct email format!</mat-error> -->

    </mat-form-field>

    <mat-form-field class="text my-2">
      <input matInput placeholder="Password" type="password" formControlName="password" >
      <mat-error *ngIf="password?.errors?.['required']">Password is required!</mat-error> 
    </mat-form-field>
  
<div class="center maring-top my-3">
  <button mat-raised-button color="primary" type="submit">Sign In</button>
</div>    

    <span class="center margin-top my-4 mb-0">New to our Planet? &nbsp; <a class="sign-up-link" routerLink="user-sign-up">Register Now!</a></span>
  </form>

</div>