<header class="header">
    <a href="" class="logo">BL4CK $HADE$</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li id="color1" style="background-color: rgb(12, 12, 12); color: rgb(240, 240, 240);"><a routerLink="/home">HOME</a></li>
      <li id="color2" style="background:rgb(20, 20, 20);"><a routerLink="/products">PRODUCTS</a></li>
      <li id="color3" style="background-color: rgb(31, 31, 31);"><a routerLink="/gallery">GALLERY</a></li>
      <li id="color4" style="background-color: rgb(46, 46, 46);"><a routerLink="/login">LOGIN</a></li>
    </ul>
  </header>