/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
       font-family: oswald; 
       background-image: url(../src/app/MainPageComponents/footer/dark-space.png);
       background-size: cover;
       background-attachment: fixed;
       
       
    }


.form-container{
    display: block;
    max-width: 300px;
    margin: auto;
    background: rgb(223, 223, 223);
    padding: 48px;
    border-radius: 16px;
}
.form-container mat-form-field{
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 16px;
}
.text-center{
    text-align: center;
}






  
input.ng-invalid.ng-touched {
    border: 2px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched{
border: 2px solid green;
}

textarea.ng-valid.ng-touched{
border: 2px solid green;
}

select.ng-invalid.ng-touched {
border: 2px solid red;
}

select.ng-valid.ng-touched{
border: 2px solid green;
}